h2 {
	text-align: center;
	color: white;
}

p {
	text-align: center;
	color: white;
}

div {
	text-align: center;
	margin: 0 auto;
}

.style {
	background: gray;
	padding-bottom: 60px;
	padding: 55px;
}

input[type="radio"] {
	color: white;
}
